*
!*/

!/.gitignore
!/dotfiles/ansible/ansible.cfg
!/dotfiles/ansible/README.md
!/dotfiles/firefox/README.md
!/dotfiles/firefox/userChrome.css
!/dotfiles/gh/config.yml
!/dotfiles/gh/README.md
!/dotfiles/git/.gitignore_global
!/dotfiles/git/gitconfig_base.ini
!/dotfiles/git/README.md
!/dotfiles/k9s/.gitignore
!/dotfiles/k9s/aliases.yaml
!/dotfiles/k9s/clusters/kema8s-dev-1/admin@kema8s-dev-1/benchmarks.yaml
!/dotfiles/k9s/clusters/kema8s-dev-1/admin@kema8s-dev-1/config.yaml
!/dotfiles/k9s/clusters/kema8s-dev-2/admin@kema8s-dev-2/benchmarks.yaml
!/dotfiles/k9s/clusters/kema8s-dev-2/admin@kema8s-dev-2/config.yaml
!/dotfiles/k9s/clusters/kema8s-dev-3/admin@kema8s-dev-3/benchmarks.yaml
!/dotfiles/k9s/clusters/kema8s-dev-3/admin@kema8s-dev-3/config.yaml
!/dotfiles/k9s/clusters/kema8s-dev/admin@kema8s-dev/benchmarks.yaml
!/dotfiles/k9s/clusters/kema8s-dev/admin@kema8s-dev/config.yaml
!/dotfiles/k9s/clusters/kema8s/admin@kema8s/benchmarks.yaml
!/dotfiles/k9s/clusters/kema8s/admin@kema8s/config.yaml
!/dotfiles/k9s/clusters/kind-kema8s/kind-kema8s/benchmarks.yaml
!/dotfiles/k9s/clusters/kind-kema8s/kind-kema8s/config.yaml
!/dotfiles/k9s/clusters/kind-kind/kind-kind/benchmarks.yaml
!/dotfiles/k9s/clusters/kind-kind/kind-kind/config.yaml
!/dotfiles/k9s/clusters/talos-default/admin@talos-default/benchmarks.yaml
!/dotfiles/k9s/clusters/talos-default/admin@talos-default/config.yaml
!/dotfiles/k9s/config.yaml
!/dotfiles/k9s/hotkeys.yaml
!/dotfiles/k9s/plugins.yaml
!/dotfiles/k9s/README.md
!/dotfiles/k9s/skins/everforest.yaml
!/dotfiles/k9s/skins/monokai.yaml
!/dotfiles/neofetch/neofetch_remote.conf
!/dotfiles/neofetch/neofetch.conf
!/dotfiles/neofetch/README.md
!/dotfiles/npm/.npmrc
!/dotfiles/npm/README.md
!/dotfiles/scripts/aws_ecs_task_exec.sh
!/dotfiles/scripts/aws_open_profile_in_browser.sh
!/dotfiles/scripts/aws_select_sso_profile.sh
!/dotfiles/scripts/aws_set_kube_context_to_eks.sh
!/dotfiles/scripts/aws_ssm_connect_k8s_node.sh
!/dotfiles/scripts/aws_ssm_connect.sh
!/dotfiles/scripts/clipboard/backend/clipnotify.c
!/dotfiles/scripts/clipboard/backend/kema_clipboard_daemon.sh
!/dotfiles/scripts/clipboard/backend/run_daemon.sh
!/dotfiles/scripts/clipboard/backend/Taskfile.yaml
!/dotfiles/scripts/clipboard/client/client.sh
!/dotfiles/scripts/clipboard/README.md
!/dotfiles/scripts/colors_define.sh
!/dotfiles/scripts/command_run_in_tmux_background.sh
!/dotfiles/scripts/command_run_until_error.sh
!/dotfiles/scripts/command_run_until_success.sh
!/dotfiles/scripts/completion_generate_git_clone.sh
!/dotfiles/scripts/compress.sh
!/dotfiles/scripts/daemon_run_in_tmux.sh
!/dotfiles/scripts/date_convert_from_timestamp.sh
!/dotfiles/scripts/find_fzf.sh
!/dotfiles/scripts/flash_arm_os_to_block_device.sh
!/dotfiles/scripts/git_clone_structured.sh
!/dotfiles/scripts/github_delete_all_artifacts_from_repo.sh
!/dotfiles/scripts/github_release_download_latest.sh
!/dotfiles/scripts/host_get_infos.sh
!/dotfiles/scripts/kubectl_exec_interactive.sh
!/dotfiles/scripts/kubernetes_config_merge.sh
!/dotfiles/scripts/lesspipe_improved.sh
!/dotfiles/scripts/mount_drive.sh
!/dotfiles/scripts/network_interface_get_ipv4.sh
!/dotfiles/scripts/permissions_restrict.sh
!/dotfiles/scripts/pulumi_target.sh
!/dotfiles/scripts/README.md
!/dotfiles/scripts/ssh_key_create.sh
!/dotfiles/scripts/string_to_kebab_case.sh
!/dotfiles/scripts/update_full.sh
!/dotfiles/scripts/upgrade_fedora_version.sh
!/dotfiles/scripts/zsh_profile_parse.sh
!/dotfiles/shell/prompt/kema_theme.omp.yaml
!/dotfiles/shell/prompt/README.md
!/dotfiles/shell/README.md
!/dotfiles/shell/zsh/plugins/kema_aliases.zsh
!/dotfiles/shell/zsh/plugins/kema_env.zsh
!/dotfiles/shell/zsh/plugins/kema_functions.zsh
!/dotfiles/shell/zsh/plugins/kema_keybindings.zsh
!/dotfiles/shell/zsh/plugins/kema_misc.zsh
!/dotfiles/shell/zsh/plugins/README.md
!/dotfiles/shell/zsh/README.md
!/dotfiles/ssh/README.md
!/dotfiles/ssh/ssh.config
!/dotfiles/terminal/alacritty.toml
!/dotfiles/terminal/README.md
!/dotfiles/tmux/README.md
!/dotfiles/tmux/tmux.conf
!/dotfiles/ventoy/freebsd/.gitkeep
!/dotfiles/ventoy/linux/.gitkeep
!/dotfiles/ventoy/README.md
!/dotfiles/ventoy/ventoy_wimboot.img
!/dotfiles/ventoy/ventoy/themes/tela/background.jpg
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_12.pf2
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_14.pf2
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_16.pf2
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_24.pf2
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_32.pf2
!/dotfiles/ventoy/ventoy/themes/tela/dejavu_sans_48.pf2
!/dotfiles/ventoy/ventoy/themes/tela/icons/4MLinux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/AlpineLinux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/android.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/anonymous.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/antergos.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/arch.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/archcraft.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/archlinux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/arcolinux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/artix.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/brunch-settings.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/brunch.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/cancel.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/chakra.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/debian.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/deepin.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/devuan.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/driver.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/edit.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/efi.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/elementary.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/endeavouros.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/fedora.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/find.efi.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/find.none.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/freebsd.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/gentoo.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/gnu-linux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/gpart.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/haiku.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/help.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/kali.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/kaos.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/kbd.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/kernel.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/korora.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/kubuntu.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/lang.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/lfs.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/linux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/linuxmint.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/lubuntu.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/macosx.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/mageia.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/Manjaro.i686.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/manjaro.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/Manjaro.x86_64.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/manjarolinux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/memtest.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/mx-linux.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/neon.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/nixos.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/opensuse.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/opnsense.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/parrot.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/pop-os.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/pop.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/recovery.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/regolith.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/restart.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/shutdown.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/siduction.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/solus.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/steamos.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/submenu.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/SystemRescueCD.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/talos.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/type.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/tz.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/ubuntu.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/ubuntuDDE.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/unknown.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/unset.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/void.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/windows.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/xubuntu.png
!/dotfiles/ventoy/ventoy/themes/tela/icons/zorin.png
!/dotfiles/ventoy/ventoy/themes/tela/info.png
!/dotfiles/ventoy/ventoy/themes/tela/select_c.png
!/dotfiles/ventoy/ventoy/themes/tela/select_e.png
!/dotfiles/ventoy/ventoy/themes/tela/select_w.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_c.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_e.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_n.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_ne.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_nw.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_s.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_se.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_sw.png
!/dotfiles/ventoy/ventoy/themes/tela/terminal_box_w.png
!/dotfiles/ventoy/ventoy/themes/tela/terminus-12.pf2
!/dotfiles/ventoy/ventoy/themes/tela/terminus-14.pf2
!/dotfiles/ventoy/ventoy/themes/tela/terminus-16.pf2
!/dotfiles/ventoy/ventoy/themes/tela/terminus-18.pf2
!/dotfiles/ventoy/ventoy/themes/tela/theme.txt
!/dotfiles/ventoy/ventoy/ventoy.json
!/dotfiles/ventoy/windows/autounattend.xml
!/LICENSE
!/README.md
