Host *
    UserKnownHostsFile ~/.ssh/known_hosts
    KbdInteractiveAuthentication no
    PreferredAuthentications publickey
    ConnectTimeout 5
    ExitOnForwardFailure yes
    ServerAliveInterval 60
    VisualHostKey no
    Compression no
    StrictHostKeyChecking accept-new
    AddKeysToAgent yes
    ControlMaster auto
    ControlPersist 10m
    ControlPath ~/.ssh/cm-%r@%h:%p
    RequestTTY auto
    ForwardX11 no
    ForwardX11Trusted no
    ForwardAgent no
    User root
    Port 22
